Source: ros-kinetic-loki-base-node
Section: misc
Priority: extra
Maintainer: Wayne Gramlich <Wayne@gramlich.net>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-message-generation, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-loki-base-node
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-message-runtime, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-std-msgs
Description: loki_base_node has a ROS node to communicate with the Loki robot base and allow communication with the motors and sonars
